body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: rgb(255, 196, 0);
}

.flexible-container {
    display: flex;
}

.top-banner {
    background-image: url(photo/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 95px;
}

#pera {
    font-size: 16px;
    font-weight: 200;
    text-align: justify;
}

.half-width-img {
    width: 50%;
    padding-top: 100px;
    padding-left: 50px;
    margin-right: 50px;

}

.half-width-2 {
    width: 50%;
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 95px;
    margin-top: 200px;
}

.half-width-img-2 {
    width: 50%;
    padding-left: 100px;
    margin-right: 50px;
}

.link-button-1 {
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 217, 255), rgb(0, 140, 255));
    padding: 10px 30px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 8px;
}

.link-button-2 {
    text-decoration: none;
    background-image: linear-gradient(rgb(204, 0, 255), rgb(89, 0, 255));
    padding: 10px 30px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 8px;
}

#dream-big {
    background-image: url(photo/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200px;
}

#dream {
    color: rgb(255, 0, 179);
}

.experience {
    display: flex;
    background-image: url(photo/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 6%;
}

.box-shadow {
    box-shadow: 10px 10px 25px grey;
    width: 40%;
    margin-left: 5%;
    margin-right: 0%;
    margin-bottom: 150px;
    padding: 35px;
    border-radius: 10px;
    text-align: justify;
    border-left: 5px solid blue;

}

#ex-head {
    margin-left: 5%;
}

#ex-color {
    color: orange;
}

#full {
    border-left: 5px solid tomato;
}

#baby {
    border-left: 5px solid blue;
}

footer p {
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px grey;
    font-weight: 100;
}