body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: rgb(255, 196, 0);
}

section {
    display: flex;
}

#top-banner {
    background-image: url(photo/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 95px;
}

#pera {
    font-size: 16px;
    font-weight: 200;
    text-align: justify;
}

.half-width-img {
    width: 50%;
    padding-top: 100px;
    padding-left: 50px;
    margin-right: 50px;

}

.half-width-2 {
    width: 50%;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 95px;
    margin-top: 200px;
}

.half-width-img-2 {
    width: 50%;
    padding-left: 100px;
    margin-right: 50px;
}

.link-button-1 {
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 217, 255), rgb(0, 140, 255));
    padding: 10px 30px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 8px;
}

.link-button-2 {
    text-decoration: none;
    background-image: linear-gradient(rgb(204, 0, 255), rgb(89, 0, 255));
    padding: 10px 30px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 8px;
}

#dream-big {
    background-image: url(photo/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200px;
}